<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Item</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  </head>
  <body>
    <h5 style="text-align: right">
      <a href="/logout" style="margin: 20px">Logout</a>
      <a href="/dashboard" style="margin: 20px">Home</a>
    </h5>
    <h5 class="container">Create a New Wish List Item</h5>
    <div class="container row">
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li style="color:red">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    <div class="row">
      <form action="/createnow" class="col s12" method="POST">
      {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
            <input id="description" type="text" class="validate" name="description">
            <label for="item">Item/Product</label>
          </div>
        </div>
        <button type="submit" class="btn">Add</button>
      </form>
    </div>
    </div>
  </body>
</html>
