<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travel Dash Board</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="container">
        <h5 style="text-align: right"><a href="/logout">Logout</a></h5>
        <h5>Successfully logged in! Hello, <b>{{user.name}}!</b><h5>
        <br>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
    </div>
    <div class="container">
        <h4>Your Wish List</h4>
        <table>
            <thead>
                <th>Item</th>
                <th>Added by</th>
                <th>Date Added</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% if items %}
                  {% for item in items %}
                    {% for everyuser in item.wish.all %}
                      {% if everyuser.id == user.id %}
                        <tr>
                          <td><a href="/show/{{item.id}}">{{item.description}}</a></td>
                          <td>{{item.creator.name}}</td>
                          <td>{{item.created_at}}</td>
                          {% if user != item.creator %}
                          <td><a href="/remove/{{item.id}}">Remove from my Wishlist</a></td>
                          {% endif %}
                        </tr>
                      {% endif %}
                    {% endfor %}
                    {% if item.creator.id == user.id %}
                      <tr>
                        <td><a href="/show/{{item.id}}">{{item.description}}</a></td>
                        <td>{{item.creator.name}}</td>
                        <td>{{item.created_at}}</td>
                        <td><a href="/delete/{{item.id}}">Delete</a></td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
        <br>
    <div class="container">
        <h4>Other Users' Wish List</h4>
        <table>
            <thead>
                <th>Item</th>
                <th>Added by</th>
                <th>Date Added</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% if items %}
                  {% for item in others %}
                <tr>
                    {% if user != item.creator %}
                    <td><a href="/show/{{item.id}}">{{item.description}}</a></td>
                    <td>{{item.creator.name}}</td>
                    <td>{{item.created_at}}</td>
                    <td><a href="/wish/{{item.id}}">Add to my Wishlist</td>
                    {% endif %}
                </tr>
                    {% endfor %}


                {% endif %}
            </tbody>
        </table>
        <br>
        <h5 style="text-align: right"><a href="/wish_list/create">Add Item</a></h5>
    </div>
  </body>
</html>
