<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{Item.description}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  </head>

  <body>
    <h5 style="text-align: right">
      <a href="/logout" style="margin: 20px">Log out</a>
      <a href="/dashboard" style="margin: 20px">Home</a>
    </h5>
    <div class="container">
      <h5>{{item.description}}</h5>
      <br>
      <p>Users who added this product/item under their wish list:</p>
    </div>
    <br>
    <div class="container">
        <h5>{{ item.creator.name }}</h5>
    {% for user in all_users %}
      <h5>{{user.name}}</h5>
    {% endfor %}
  </body>
</html>
