<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login or Register</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>Registration</h2>
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                <li style="color:red">{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            <form action="/register" class="col s12" method="POST">
                {% csrf_token %}
              <div class="row">
                <div class="input-field col s6">
                  <input id="first_name" type="text" class="validate" name="name">
                  <label for="first_name">Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="username" type="text" class="validate" name="username">
                  <label for="username">Username</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" name="password">
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" name="confirm_password">
                  <label for="confirm_password">Confirm Password</label>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <label for="doh">Date Hired:</label><br>
                  <input id="date" type="date" class="validate" name="doh">
                </div>
              </div>
              <input type="submit" value="Register" class="waves-effect waves-light btn">
            </form>
          </div>
          <form class="container" action="/login" method="POST">
             {% csrf_token %}
              <h2>Login</h2>
              <div class="row">
                <div class="input-field col s12">
                  <input id="username" type="text" class="validate" name="username">
                  <label for="username">Username</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" name="password">
                  <label for="password">Password</label>
                </div>
              </div>
              <input type="submit" value="Login" class="waves-effect waves-light btn">
          </form>
    </body>
</html>
